.features {
    margin-top: 64px;
}

.features-title {
    color: rgb(217, 227, 234);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: -0.5px;
    text-align: center;
    padding: 3px 0 24px;
}

.features-text {
    color: rgb(155, 169, 180);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.25px;
    text-align: center;
    margin: 20px 0 52px;
}

.features-block {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.features-box {
    width: calc(33.33333% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-box-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
}

.features-box-title {
    color: rgb(217, 227, 234);
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: -0.25px;
    text-align: center;
    margin-bottom: 8px;
}

.features-box-text {
    color: rgb(155, 169, 180);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.25px;
    text-align: center;
}

.features-line {
    margin-top: 80px;
    width: 100%;
    height: 1px;
    background: rgb(51, 54, 58);
}