.footer {
    margin: 80px 0 67px;
}

.footer-mask {
    background: rgb(93, 93, 255);
    padding: 64px 48px;
    margin-bottom: 64px;
}

.mask-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.25px;
    margin-bottom: 8px;
}

.mask-text {
    color: rgb(226, 225, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.25px;
}

.mask-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mask-col:last-child {
    display: flex;
    column-gap: 8px;
}

.mask-input {
    width: 320px;
    border: 1px solid rgb(141, 141, 255);
    border-radius: 2px;
    background: rgb(75, 74, 207);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
    text-align: left;
    padding: 12px 16px;
    outline: none;
    transition: 0.2s;
}

.mask-input:focus {
    border: 1px solid #ffffff;
}

.mask-input::placeholder {
    color: rgb(171, 171, 255);
}

.mask-btn {
    padding: 12px 32px;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(25, 32, 44, 0.04);
    background: rgb(244, 244, 255);
    border: none;
    color: rgb(93, 93, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.25px;
    cursor: pointer;
}

.footer-row {
    height: 233px;
    display: flex;
}

.footer-col {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-col:last-child {
    width: 750px;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.footer-text {
    color: rgb(155, 169, 180);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
    margin-top: 46px;
}

.footer-license {
    color: rgb(155, 169, 180);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.footer-license span {
    color: #fff;
}

.footer-links {
    width: 580px;
    display: flex;
    justify-content: space-between;
}

.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.footer-item {
    color: rgb(155, 169, 180);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.footer-item:first-child {
    color: rgb(217, 227, 234);
    font-weight: 500;
}

.footer-social {
    display: flex;
    column-gap: 16px;
}

.footer-social-icon {
    width: 32px;
    height: 32px;
}