.block {
    width: 100%;
    margin: -28px auto;
    padding: 0 20px;
    background: #151719;
}
.home {
    padding: 70px 0 64px;
}

.home-title {
    color: rgb(217, 227, 234);
    font-size: 52px;
    font-weight: 800;
    line-height: 62px;
    letter-spacing: -0.5px;
    text-align: center;
    margin: 60px 0 32px;

}

.home-text {
    color: rgb(155, 169, 180);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.25px;
    text-align: center;
    margin: 16px 0 32px;
}

.home-btns {
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.home-btn {
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.25px;
    border-radius: 2px;
    box-shadow: 0 10px 15px -3px rgba(21, 23, 25, 0.16);
    border: none;
    cursor: pointer;
}

.home-btn:first-child {
    background: rgb(93, 93, 255);
    color: rgb(255, 255, 255);
}

.home-btn:last-child {
    background: rgb(51, 54, 58);
    color: rgb(197, 210, 220);
}

.home-block {
    background: url("../assets/car.jpg") center/cover no-repeat;
    max-width: 1024px;
    width: 100%;
    height: 576px;
    opacity: 0.88;
    margin: 64px auto 0;
    position: relative;
}

.home-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88px;
    height: 88px;
    border-radius: 50%;
    box-shadow: 0 16px 32px 0 rgba(21, 23, 25, 0.241);
    background: linear-gradient(213.69deg, rgba(235, 241, 245, 0.8) 14.423%,rgb(235, 241, 245) 84.524%);
}

.home-circle svg {
    position: absolute;
    top: 20px;
    left: 9px;
}
