.testimonials {
    margin-top: 80px;
}

.testimonials-title {
    color: rgb(217, 227, 234);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: -0.5px;
    text-align: center;
}

.testimonials-text {
    color: rgb(155, 169, 180);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.25px;
    text-align: center;
    margin: 16px 0 80px;
}

.testimonials-block {
    display: flex;
    column-gap: 24px;
}

.testimonials-box {
    width: 352px;
    background: rgb(37, 40, 44);
    padding: 24px;
}

.testimonials-avatar {
    width: 60px;
    height: 48px;
}

.testimonials-box-text {
    margin: 16px 0 24px;
    color: rgb(155, 169, 180);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.25px;
}

.testimonials-line {
    width: 100%;
    height: 1px;
    background: rgb(51, 54, 58);
    margin-bottom: 20px;
}

.testimonials-box-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.25px;
    text-align: left;
}

.testimonials-box-slash {
    color: rgb(54, 54, 58);
}

.testimonials-box-app {
    color: #5D5DFF;
}